<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link/>
  <title>{{title}}</title>
</head>
<body>
<div class="container">
  <header class="blog-header py-3">
    <div align="right">
      <a class="btn bg-dark text-white" href="/signup">Зарегистрироваться</a>
      <a class="btn bg-dark text-white" href="/login">Войти</a>
    </div>
   </header>
</div>
<!-- Begin page content -->
<main role="main">
  {% block content %}{% endblock %}
</main>
</body>
</html>